<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">คัดลอกกลุ่ม</h4>
  <a class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="text-default"> <i class="fa fa-times"></i> </span>
  </a>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ชื่อองค์กร</label>
          <input type="text" class="form-control " placeholder="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>ชื่อบุคคล</label>
          <input type="text" class="form-control " placeholder="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>โครงการ</label>
          <input type="text" class="form-control " placeholder="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>ชื่อกลุ่ม</label>
          <input type="text" class="form-control " placeholder="">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-white btn-success btn-sm btn-block">ค้นหา</button>
    <div class="form-group mt-4">
      <table class="table table-bordered" cellspacing="0" role="grid">
        <thead>
          <tr role="row">
            <th class="text-center" scope="col" style="background-color: #ffbb00">
              ลำดับ
            </th>
            <th class="text-center" scope="col" style="background-color: #ffbb00">
              ชื่อบุคคล
            </th>
            <th class="text-center" scope="col" style="background-color: #ffbb00">
              ประเภท
            </th>
            <th class="text-center" scope="col" style="background-color: #ffbb00">
              ลบ
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr class="text-center">
            <td>1</td>
            <td> นายxxx xxx </td>
            <td> บุคคล </td>
            <td>
              <a href="javascript:void(0)">
                <i class="fas fa-trash icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-white btn-danger" (click)="closeModal()">ยกเลิก</button>
  <button type="button" class="btn btn-outline-white btn-primary">บันทึก</button>
</div> -->

<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">คัดลอกกลุ่ม</h4>
  <a class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="text-default"> <i class="fa fa-times"></i> </span>
  </a>
</div>
<div class="modal-body">
  <form [formGroup]="groupForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>ชื่อกลุ่ม</label>
          <input type="text" class="form-control " formControlName="GroupName" placeholder="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>บุคคล</label>
          <ng-multiselect-dropdown [data]="personList" [settings]="dropdownSettings" formControlName="Person">
          </ng-multiselect-dropdown>
        </div> 
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success btn-round" (click)="submit()">บันทึก</button>
  <button type="button" class="btn btn-outline-secondary btn-round" (click)="closeModal()">ยกเลิก</button>
</div>