<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">แก้ไขกลุ่มผู้ใช้งาน</h4>
  <a class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="text-default"> <i class="fa fa-times"></i> </span>
  </a>
</div>
<div class="modal-body">
  <form [formGroup]="groupUserForm">
    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <label>ชื่อกลุ่มผู้ใช้งาน
            <span class="important">*</span>
          </label>
          <input type="text" class="form-control " formControlName="GroupUserName">
        </div>
        <div class="form-group">
          <label>ชื่อบุคคล <span class="important">*</span></label>
          <ng-multiselect-dropdown [data]="personList" [settings]="dropdownSettings" [(ngModel)]="PersonSelect"
            [formControl]="groupUserForm.controls['Person']">
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group">
          <label>กลุ่มสิทธิ์</label>
          <select class="form-control" formControlName="BoardId">
            <option value="">--เลือกกลุ่มสิทธิ์--</option>
            <option *ngFor="let data of boardList" [value]="data.BoardId">{{data.BoardName}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success btn-round" (click)="submit()">บันทึก</button>
  <button type="button" class="btn btn-outline-secondary btn-round" (click)="closeModal()">ยกเลิก</button>
</div>