<nav class="navbar navbar-expand navbar-light topbar static-top transparent navbar-inverse scroll-top">
  <a class="item d-none d-sm-block ml-auto" href="#">
      <img class="img-profile rounded-circle mr-2" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
    <label class="d-none d-lg-inline text-white">{{getName()}}</label>
  </a>
  <div class="topbar-divider d-none d-sm-block"></div>
  <a class="item text-gray-100" (click)="logout()">
    <i class="fas fa-sign-out-alt mr-2 text-gray-400"></i>
    <label class="d-none d-lg-inline">ออกจากระบบ</label>
  </a>
</nav>
<img class="img-logo topbar" src="/assets/image/header3-03.jpg">

<!-- <nav class="navbar navbar-expand navbar-light topbar static-top transparent navbar-inverse scroll-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-header" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <div class="row text-default text-bold">
            <div class="col-md-3 mt--2">
              <a href="javascript:void(0)">
                <ngx-avatar name="DDC" size="40" [round]="true"></ngx-avatar>
              </a>
            </div>
            <div class="col-md-9">
              <span class="d-none d-lg-inline ">Somchai Siriphong</span>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="text-default text-bold" [routerLink]="['/login/']">
            <i class="fas fa-sign-out-alt mr-2"></i>
            <span class="d-none d-lg-inline">ออกจากระบบ</span>
          </a>
        </li>
      </ul>
    </div>
  </nav> -->
