<div class="card shadow mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <h5 class="font-weight-bold text-orange">
          <img class="icon-customer mr-2" src="../../../../assets/icon-customer/icon-yello/favorite.png">
          <label>บันทึกส่วนตัว</label>
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">อาหารที่ชอบ :</label>
          <label class="ml-3">{{favoriteForm.FavoriteFood}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">อาหารที่ไม่ชอบ :</label>
          <label class="ml-3">{{favoriteForm.FoodDislike}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">อาหารที่แพ้ :</label>
          <label class="ml-3">{{favoriteForm.AllergicFood}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">โรคประจำตัว :</label>
          <label class="ml-3">{{favoriteForm.CongenitalDisease}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">ยาที่แพ้ :</label>
          <label class="ml-3">{{favoriteForm.AllergicDrugs}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">หมายเลขทะเบียน :</label>
          <label class="ml-3">{{favoriteForm.VehicleRegistrationNumber}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group container">
          <label class="text-orange">อื่นๆ :</label>
          <label class="ml-3">{{favoriteForm.OtherPreferences}}</label>
        </div>
      </div>
    </div>
  </div>
</div>