<div class="row justify-content-center">
    <div class="col-md-10 mb-2">
        <div class="card shadows">
            <div class="card-header">
                <h2 class="text-bold"> รายงานการสืบค้นข้อมูลบุคคล </h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <div [formGroup]="searchform">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="input-group-sm row">
                                    <label class="col-md-3 text-right">ชื่อ-นามสกุล</label>
                                    <input type="text" class="form-control
                                        col-md-9" formControlName="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group-sm row">
                                    <label class="col-md-3 text-right">องค์กร</label>
                                    <input type="text" class="form-control
                                        col-md-9"
                                        formControlName="CorporationName">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="input-group-sm row">
                                    <label class="col-md-3 text-right">ปีที่เริ่มงาน</label>
                                    <input type="number" class="form-control
                                        col-md-9" formControlName="StartYear">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group-sm row">
                                    <label class="col-md-3 text-right">ตำแหน่ง</label>
                                    <input type="text" class="form-control
                                        col-md-9" formControlName="Position">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            
                            <button type="button" class="btn btn-success"
                                (click)="searchReport()">ค้นหา
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-md-10 text-right">
        <!-- <button type="button" class="btn btn-link" (click)="exportExcel()">Excel</button>
        | <button type="button" class="btn btn-link" (click)="exportPDF()">PDF</button> -->
        <a href="javascript:void(0)" class="dropdown-toggle btn btn-outline-warning btn-sm"
        data-toggle="dropdown">
        Export <i class="fas fa-download"></i>
      </a>
      <div class="dropdown-menu">
        <button class="dropdown-item" (click)="exportExcel(reportList);">
          <i class="fas fa-file-excel"></i>
          Excel
        </button>
        <button class="dropdown-item" (click)="exportPDF(reportList);">
          <i class="far fa-file-pdf"></i> PDF
        </button>
      </div>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-md-10">
        <table class="table table-bordered">
            <thead class="bg-custom-green text-white">
                <tr role="row">
                    <th class="text-center">
                        ชื่อ-นามสกุล
                    </th>
                    <th class="text-center">
                        ตำแหน่ง
                    </th>
                    <th class="text-center">
                        เบอร์โทร
                    </th>
                    <th class="text-center">
                        ที่อยู่
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr *ngFor="let data of reportList | paginate: { itemsPerPage:
                    10, currentPage: page }"
                    class="text-center">
                    <td>{{data.FullnameTh}}</td>
                    <td>{{data.Position}}</td>
                    <td>{{data.Contact}}</td>
                    <td>{{showAddress(data)}}</td>
                </tr>
                <tr *ngIf="reportList.length == 0">
                    <td class="text-center" colspan="4">ไม่พบข้อมูล </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <span>แสดงทั้งหมด {{reportList.length}} รายการ</span>
            <pagination-controls (pageChange)="page= $event"></pagination-controls>
        </div>
    </div>
</div>