<ngx-spinner></ngx-spinner>
<div class="container">
  <div class="card shadow">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-bold"> ข้อมูลบุคคล </h2>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-success" routerLink="/persons/insert" ngbTooltip="เพิ่มข้อมูลบุคคล">
            <i class="fas fa-plus mr-1"></i>เพิ่มข้อมูลบุคคล
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="input-group input-group-alternative">
            <input type="text" class="form-control" placeholder="กรอกข้อมูลบุคคลเพื่อค้นหา" name="inputSearch" [(ngModel)]="inputSearch"
              (keyup.enter)="onSearchData()">
            <div class="input-group-append">
              <button class="btn btn-success" type="button" (click)="onSearchData()" ngbTooltip="ค้นหาข้อมูลบุคคล">
                <i class="fas fa-search fa-md"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mt-2" *ngFor="let person of personList | paginate: { itemsPerPage: 10, currentPage: page }">
    <div class="card-body">
      <card-person [data]="person" (onDelete)="delete($event)"></card-person>
    </div>
  </div>
  <div class="card shadow mt-2" *ngIf="personList.length == 0">
    <div class="card-body text-center">
      <h3>ไม่พบข้อมูล</h3>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <span>แสดงทั้งหมด {{personList.length}} รายการ</span>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
