<footer>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright text-center text-md-left ml-3">
                    <p>Update at 19/06/2019</p>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <p>Digital data center Version 1.1.4</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>