.navbar {
  height: 60px;
  margin-top: -50px;
  padding-top: 20px;
  background-color: #00CC99;
}

ul li {
  width: 10%;
}

.text-menu {
  font-weight: bold;
  color: white;
  display: inline;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

ul li.active > a {
  background: #ff6600;
}

ul li:hover > a {
  background: #ff6600;
}

.collapse {
  z-index: 5;
}

.dropdown .dropdown-menu {
  top: 40px;
  background-color: #FFCC33;
  border-radius: 0px;
}

.dropdown .dropdown-menu a {
  color: white;
}

.link-disabled {
  color: #a6a7ab !important;
}

.dropdown .dropdown-menu a:hover {
  background-color: #ff6600;
}
