<div class="modal-header">
  <h4 class="modal-title">ลืมรหัสผ่านหรือไม่?</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="text-default"> <i class="fa fa-times"></i> </span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-md">
        <div class="alert alert-danger" *ngIf="alertUser" role="alert">
          อีเมล์หรือหมายเลขโทรศัพท์ไม่ถูกต้อง กรุณาตรวจสอบอีกครั้ง
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>อีเมล์หรือหมายเลขโทรศัพท์</label>
          <input type="text" class="form-control" placeholder="โปรดป้อนหมายเลขโทรศัพท์หรืออีเมล์ของคุณ">
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">ยกเลิก</button>
  <button type="button" class="btn btn-success">ยืนยัน</button>
</div>