<ngx-spinner></ngx-spinner>
<div class="row mb-2">
  <div class="col-md text-center">
    <app-stepper [stepList]="stepList"></app-stepper>
  </div>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col-md">
      <div class="row">
        <h4 class="font-weight-bold">
          โครงการที่รับทุน
        </h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered" cellspacing="0" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center bg-custom-green"> ปีงบประมาณ </th>
                <th class="text-center bg-custom-green"> รหัสโครงการ/เลขที่ PO </th>
                <th class="text-center bg-custom-green"> ชื่อโครงการ </th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr *ngFor="let data of bursariesPerson | paginate: { itemsPerPage: 10, currentPage: page }" >
                <td>{{getYear(data.Year)}}</td>
                <td>{{data.ProjectNo}}</td>
                <td>{{data.ProjectName}}</td>
              </tr>
              <tr *ngIf="bursariesPerson.length == 0">
                <td class="text-center" colspan="4">ไม่พบข้อมูล</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between">
            <span>แสดงทั้งหมด {{bursariesPerson.length}} รายการ</span>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
