::ng-deep .xlModal > .modal-dialog {
  max-width: 1000px !important;
}


button#step-trigger:hover {
  color: #027070;
  border-bottom: 4px solid #027070;
}
button#step-trigger:active {
  border-bottom: 4px solid #027070;
}
table {
  width: 100%;
  border-collapse: collapse;
}

label.file{
  margin-left: 10px;
  padding: 10px;
  display: table;
  color: #fff;
  background-color: #ffa500;
  border-color: #ffa500;
  border-radius: 12px;
}

label.file:hover {
  color: #fff;
  background-color: #ff960b;
  border-color: #1e7e34
}

/*input[type="file"] {*/
/*  display: none;*/
/*}*/

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnz {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
