<ngx-spinner></ngx-spinner>
<ng-template #insertAddress let-modal>
  <modal-address-information (onSubmit)="updateAddress($event)"></modal-address-information>
</ng-template>

<ng-template #insertFamily let-modal>
  <modal-family-information (onSubmit)="updateFamily($event)"></modal-family-information>
</ng-template>

<ng-template #insertContact let-modal>
  <modal-contact-information (onSubmit)="updateContact($event)"></modal-contact-information>
</ng-template>

<ng-template #insertCoordinator let-modal>
  <modal-coordinator-information (onSubmit)="updateCoordinator($event)"></modal-coordinator-information>
</ng-template>

<ng-template #insertBursary let-modal>
  <modal-history-of-education (onSubmit)="updateBursary($event)"></modal-history-of-education>
</ng-template>

<ng-template #insertWorking let-modal>
  <modal-career-history (onSubmit)="updateWorking($event)"></modal-career-history>
</ng-template>

<div class="container">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#step-1">
        <button [disabled]="notNext==2" class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">ข้อมูลส่วนตัว</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#step-2">
        <button [disabled]="notNext==1" class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">ข้อมูลส่วนตัว(เพิ่มเติม)</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content mt-4">
      <div id="step-1" class="content">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-header">
                <div class="container">
                  <div class="row">
                    <h2>{{title}}</h2>
                    <!-- <div class="ml-auto">
                      <button type="button" class="btn btn-success mr-2" (click)="submitPerson()">บันทึก</button>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-md-10 alert alert-danger" role="alert"
                       *ngIf="alertValid">
                    กรุณากรอกข้อมูลให้ครบถ้วน
                  </div>
                </div>
                <form [formGroup]="profileForm">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="row mb-2">
                        <div class="col-md-12">
                          <span class="col-md-10 text-bold">
                            ชื่อภาษาไทย
                          </span>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row mb-4">
                          <div class="col-md-2 text-right">
                            <label>คำนำหน้าชื่อ<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm">
                              <select class="form-control"
                                      formControlName="TitleNameTh"
                                      [attr.disabled]="titleNameThCheck ? '' : null">
                                <option [value]="1">นาย</option>
                                <option [value]="2">นางสาว</option>
                                <option [value]="3">นาง</option>
                              </select>
                            </div>
                          </div>
                          <!-- custom-control custom-control-alternative custom-checkbox  class="custom-control-input" -->
                          <div class="custom-control custom-checkbox col-md-2 text-right" (click)="onChangeTitleTH()">

                            <input type="checkbox"
                                   class="custom-control-input position-static"
                                   [checked]="titleNameThCheck"
                            />
                            <label class="custom-control-label">อื่น ๆ</label>

                          </div>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm">
                              <input type="text" class="form-control"
                                     formControlName="TitleNameOther"
                                     [attr.disabled]="titleNameThCheck ? null : ''">
                            </div>
                          </div>
                        </div>
                        <div class="row form-group text-right">
                          <label class="col-md-2">ชื่อ<span class="text-danger">*</span>:
                          </label>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm">
                              <input type="text" class="form-control"
                                     formControlName="FristNameTh">
                            </div>
                          </div>
                          <label class="col-md-2">นามสกุล<span
                            class="text-danger">*</span>:</label>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm">
                              <input type="text" class="form-control"
                                     formControlName="LastNameTh">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row mb-2">
                          <span class="col-md-10 text-bold">
                            ชื่อภาษาอังกฤษ
                          </span>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 text-right">
                            <label>Title Name<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm">
                              <select class="form-control"
                                      formControlName="TitleNameEn"
                                      [attr.disabled]="titleNameEnCheck ? '' : null">
                                <option [value]="1">Mr.</option>
                                <option [value]="2">Mrs.</option>
                                <option [value]="3">Miss</option>
                              </select>
                            </div>
                          </div>
                          <!-- [checked]="titleNameThCheck"
                              (click)="onChangeTitleEN()"-->
                          <div class="custom-control custom-checkbox  col-md-2" style="text-align: right;"
                               (click)="onChangeTitleEN()">

                            <input type="checkbox"
                                   class="custom-control-input position-static"
                                   [checked]="titleNameEnCheck"

                            />
                            <label class="custom-control-label">อื่น ๆ</label>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     aria-label="Small"
                                     formControlName="TitleNameEnOther"
                                     [attr.disabled]="titleNameEnCheck ? null : ''">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 text-right">
                            <label>First Name<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     formControlName="FristNameEn">
                            </div>
                          </div>
                          <div class="col-md-2 text-right">
                            <label>Last Name<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     formControlName="LastNameEn">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2" style="text-align:center;">
                      <ngx-avatar *ngIf="!imagePreview" size="120"
                                  src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/person-icon.png"
                                  (clickOnAvatar)="selectNewAvatar()"></ngx-avatar>
                      <ngx-avatar *ngIf="imagePreview" [src]="imagePerson"
                                  size="120" [round]="true">
                      </ngx-avatar>
                      <input type="file" class="mt-4"
                             (change)="onImageChange($event)">

                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <span class="text-bold">
                          ข้อมูลส่วนตัว
                        </span>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <label class="col-md-4 text-right">
                            เลขบัตรประจำตัวประชาชน<span class="text-danger">*</span>:
                          </label>
                          <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     formControlName="IdCard">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label>
                              เลขหนังสือเดินทาง :
                            </label>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     formControlName="Passport">
                            </div>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-md-4 text-right">
                            <label>
                              ใบอนุญาตเลขที่ :
                            </label>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     formControlName="WorkPermitNo">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 text-right">
                            <label>วันเกิด<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-3">
                            <my-date-picker-th [options]="myDatePickerOptions"
                                               formControlName="Birthday">
                            </my-date-picker-th>
                          </div>
                          <div class="col-md-1 text-right">
                            <label>อายุ:</label>
                          </div>
                          <div class="col-md-2">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     aria-label="Small"
                                     [value]="showAge(profileForm.value.Birthday)"
                                     readonly>
                            </div>
                          </div>
                          <div class="col-md-2 text-right">
                            <label>เพศ<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-2">
                            <div class="input-group input-group-sm mb-3">
                              <select class="form-control"
                                      formControlName="Sex">
                                <option [value]="1">ชาย</option>
                                <option [value]="2">หญิง</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-2 text-right">
                            <label>ศาสนา<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-3">
                            <div class="input-group input-group-sm mb-3">
                              <select class="form-control"
                                      formControlName="Religion">
                                <option [value]="0">ไม่ระบุ</option>
                                <option [value]="1">พุทธ</option>
                                <option [value]="2">คริส</option>
                                <option [value]="3">อิสลาม</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-1 text-right">
                            <label>สัญชาติ<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-2">
                            <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control"
                                     formControlName="Nationality">
                            </div>
                          </div>
                          <div class="col-md-2 text-right">
                            <label>เชื้อชาติ<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-2">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group input-group-sm mb-3">
                                <select class="form-control"
                                        formControlName="EthnicityId">
                                  <option [value]="1">ไทย</option>
                                  <option [value]="2">ต่างชาติ</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 text-right">
                            <label>สถานภาพการสมรส<span class="text-danger">*</span>:</label>
                          </div>
                          <div class="col-md-5">
                            <div class="input-group input-group-sm mb-3">
                              <select class="form-control"
                                      formControlName="Marital">
                                <option [value]="1">โสด</option>
                                <option [value]="2">แต่งงาน</option>
                                <option [value]="3">หย่า</option>
                                <option [value]="4">เป็นหม้าย</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                        <span class="text-bold">
                          บันทึกส่วนตัว
                        </span>
                      </div>
                      <div class="container">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2 text-right">
                              <label>อาหารที่ชอบ:</label>
                            </div>
                            <div class="col-md-4">
                              <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control"
                                       formControlName="FavoriteFood">
                              </div>
                            </div>
                            <div class="col-md-2 text-right">
                              <label>อาหารที่ไม่ชอบ:</label>
                            </div>
                            <div class="col-md-4">
                              <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control"
                                       formControlName="FoodDislike">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2 text-right">
                              <label>อาหารที่แพ้:</label>
                            </div>
                            <div class="col-md-4">
                              <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control"
                                       formControlName="AllergicFood">
                              </div>
                            </div>
                            <div class="col-md-2 text-right">
                              <label>โรคประจำตัว:</label>
                            </div>
                            <div class="col-md-4">
                              <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control"
                                       formControlName="CongenitalDisease">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2 text-right">
                              <label>ยาที่แพ้:</label>
                            </div>
                            <div class="col-md-4">
                              <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control"
                                       formControlName="AllergicDrugs">
                              </div>
                            </div>
                            <div class="col-md-2 text-right">
                              <label>ทะเบียนรถ:</label>
                            </div>
                            <div class="col-md-4">
                              <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control"
                                       formControlName="VehicleRegistrationNumber">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2 text-right">
                              <label>อื่นๆ:</label>
                            </div>
                            <div class="col-md-10">
                              <div class="input-group mb-3">
                                <textarea type="text" class="form-control"
                                          rows="3"
                                          formControlName="OtherPreferences"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-outline-secondary"
                          (click)="back()">ย้อนกลับ
                  </button>
                  <button (click)="next()" class="btn btn-success">ต่อไป</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step-2" class="content">
        <div class="container mb-4">
          <div class="row mb-2">
            <h2 class="col-md-6">ข้อมูลที่อยู่</h2>
            <div class="col-md-6 text-right"
                 (click)="openModalClass(insertAddress)">
              <button class="btn btn-success">
                <i class="fas fa-plus mr-1"></i>เพิ่มข้อมูลที่อยู่
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0" role="grid">
              <thead class="bg-custom-green text-white" class="bg-custom-green
                text-white">
              <tr role="row">
                <th class="text-center"> ที่อยู่</th>
                <th class="text-center"> ประเภทที่อยู่</th>
                <th class="text-center"> เครื่องมือ</th>
              </tr>
              </thead>
              <tbody class="bg-white">
              <tr *ngFor="let data of addressList; let i= index">
                <td>{{showAddress(data)}}</td>
                <td>
                  <label *ngIf="data.TypeAddress == 1">ทะเบียนบ้าน</label>
                  <label *ngIf="data.TypeAddress == 2">บัตรประชาชน</label>
                  <label *ngIf="data.TypeAddress == 3">ที่อยู่ปัจจุบัน</label>
                  <label *ngIf="data.TypeAddress == 4">ที่อยู่จัดส่ง</label>
                </td>
                <td style="text-align: center">
                  <a href="javascript:void(0)" class="btn btn-outline-success
                      btn-sm mr-2"
                     (click)="openModalClass(updatePersonAddress, 'xlModal')">
                    <i class="fas fa-pencil-alt icon-prop"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-outline-danger
                      btn-sm" (click)="deleteAddress(i)">
                    <i class="fas fa-times icon-prop"></i>
                  </a>
                </td>
                <ng-template #updatePersonAddress let-modal>
                  <modal-address-information [data]="data"
                                             (onSubmit)="updateAddress($event)">
                  </modal-address-information>
                </ng-template>
              </tr>
              <tr *ngIf="addressList.length == 0">
                <td class="text-center" colspan="4">ไม่พบข้อมูล</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container mb-4">
          <div class="row mb-2">
            <h2 class="col-md-6">สมาชิกในครอบครัว</h2>
            <div class="col-md-6 text-right" (click)="openModal(insertFamily,
              'lg')">
              <button class="btn btn-success">
                <i class="fas fa-plus mr-1"></i>เพิ่มสมาชิกในครอบครัว
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered" cellspacing="0" role="grid">
                <thead class="bg-custom-green text-white">
                <tr role="row">
                  <th class="text-center"> ชื่อ-นามสกุล</th>
                  <th class="text-center"> ความสัมพันธ์</th>
                  <th class="text-center"> เบอร์โทร</th>
                  <th class="text-center"> เครื่องมือ</th>
                </tr>
                </thead>
                <tbody class="bg-white">
                <tr *ngFor="let data of familyList; let i= index">
                  <td>
                      <span *ngIf="data.TitleNameTh1">{{data.TitleNameTh1 == 1 ?
                          'นาย' : data.TitleNameTh1 == 2 ? 'นาวสาว' : 'นาง'}}{{
                          data.FristNameTh1 + " " + data.LastNameTh1}}</span>
                    <span *ngIf="!data.TitleNameTh1">{{data.TitleNameTh == 1 ?
                        'นาย' : data.TitleNameTh == 2 ? 'นาวสาว' : 'นาง'}}{{
                        data.FristNameTh + " " + data.LastNameTh}}</span>
                  </td>
                  <td>{{data.Relation}}</td>
                  <td>{{data.Contact}}</td>
                  <td style="text-align: center">
                    <a href="javascript:void(0)" class="btn
                        btn-outline-success btn-sm mr-2"
                       (click)="openModal(updatePersonFamily, 'lg')">
                      <i class="fas fa-pencil-alt icon-prop"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-outline-danger
                        btn-sm" (click)="deleteFamily(i)">
                      <i class="fas fa-times icon-prop"></i>
                    </a>
                  </td>
                  <ng-template #updatePersonFamily let-modal>
                    <modal-family-information [data]="data"
                                              (onSubmit)="updateFamily($event)">
                    </modal-family-information>
                  </ng-template>
                </tr>
                <tr *ngIf="familyList.length == 0">
                  <td class="text-center" colspan="5">ไม่พบข้อมูล</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container mb-4">
          <div class="row mb-2">
            <h2 class="col-md-6">ข้อมูลการติดต่อ</h2>
            <div class="col-md-6 text-right" (click)="openModal(insertContact,
              'lg')">
              <button class="btn btn-success">
                <i class="fas fa-plus mr-1"></i>เพิ่มข้อมูลการติดต่อ
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered" cellspacing="0" role="grid">
                <thead class="bg-custom-green text-white">
                <tr role="row">
                  <!-- <th class="text-center"> วันที่อัพเดต </th> -->
                  <th class="text-center"> รายละเอียด</th>
                  <th class="text-center"> ประเภทข้อมูล</th>
                  <th class="text-center"> เครื่องมือ</th>
                </tr>
                </thead>
                <tbody class="bg-white">
                <tr *ngFor="let data of contactList; let i= index">
                  <!-- <td> </td> -->
                  <td>{{data.Contact}}</td>
                  <td>
                    <label *ngIf="data.TypeContactId == 1">อีเมล</label>
                    <label *ngIf="data.TypeContactId == 2">เบอร์โทร</label>
                    <label *ngIf="data.TypeContactId == 3">Line</label>
                    <label *ngIf="data.TypeContactId == 4">Facebook</label>
                    <label *ngIf="data.TypeContactId == 5">Twitter</label>
                    <label *ngIf="data.TypeContactId == 6">Instagram</label>
                    <label *ngIf="data.TypeContactId == 7">โทรสาร</label>
                  </td>
                  <td style="text-align: center">
                    <!-- <a href="javascript:void(0)" class="btn btn-outline-success btn-sm mr-2"
                        (click)="openModal(updatePersonContact, 'lg')">
                        <i class="fas fa-pencil-alt icon-prop"></i>
                      </a> -->
                    <a href="javascript:void(0)" class="btn btn-outline-danger
                        btn-sm" (click)="deleteContact(i)">
                      <i class="fas fa-times icon-prop"></i>
                    </a>
                  </td>
                  <!-- <ng-template #updatePersonContact let-modal>
                      <modal-contact-information [data]="contactList" (onDelete)="deleteContact($event)" (onSubmit)="updateContact($event)">
                      </modal-contact-information>
                    </ng-template> -->
                </tr>
                <tr *ngIf="contactList.length == 0">
                  <td class="text-center" colspan="4">ไม่พบข้อมูล</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container mb-4">
          <div class="row mb-2">
            <h2 class="col-md-6">ข้อมูลผู้ประสานงาน</h2>
            <div class="col-md-6 text-right"
                 (click)="openModal(insertCoordinator, 'lg')">
              <button class="btn btn-success">
                <i class="fas fa-plus mr-1"></i>เพิ่มข้อมูลผู้ประสานงาน
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered" cellspacing="0" role="grid">
                <thead class="bg-custom-green text-white">
                <tr role="row">
                  <th class="text-center"> ชื่อ-นามสกุล</th>
                  <th class="text-center"> ประเภทการติดต่อ</th>
                  <th class="text-center"> การติดต่อ</th>
                  <th class="text-center"> เครื่องมือ</th>
                </tr>
                </thead>
                <tbody *ngFor="let data of coordinateList; let i= index" class="bg-white">
                <tr *ngFor="let subData of data; let j=index">
                    <td [rowSpan]="coordinateList[i].length" *ngIf=" j == 0">
                      {{nametitle[i]}}
                    </td>
                  <td>
                    <label *ngIf="subData.TypeContactId == 1">อีเมล</label>
                    <label *ngIf="subData.TypeContactId == 2">เบอร์โทร</label>
                    <label *ngIf="subData.TypeContactId == 3">Line</label>
                    <label *ngIf="subData.TypeContactId == 4">Facebook</label>
                    <label *ngIf="subData.TypeContactId == 5">Twitter</label>
                    <label *ngIf="subData.TypeContactId == 6">Instagram</label>
                    <label *ngIf="subData.TypeContactId == 7">โทรสาร</label>
                  </td>
                  <td>
                    {{subData.Contact}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="btn btn-outline-danger
                        btn-sm" (click)="deleteCoordinator(i)">
                      <i class="fas fa-times icon-prop"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="coordinateList.length == 0">
                  <td class="text-center" colspan="5">ไม่พบข้อมูล</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container mb-4">
          <div class="row mb-2">
            <h2 class="col-md-6">ประวัติการศึกษา</h2>
            <div class="col-md-6 text-right" (click)="openModal(insertBursary,
              'lg')">
              <button class="btn btn-success">
                <i class="fas fa-plus mr-1"></i>เพิ่มประวัติการศึกษา
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0" role="grid">
                  <thead class="bg-custom-green text-white">
                  <tr role="row">
                    <th class="text-center"> ปีที่สำเร็จการศึกษา</th>
                    <th class="text-center"> สถาบันการศึกษา</th>
                    <th class="text-center"> วุฒิการศึกษา</th>
                    <th class="text-center"> สาขา</th>
                    <th class="text-center"> เครื่องมือ</th>
                  </tr>
                  </thead>
                  <tbody class="bg-white">
                  <tr *ngFor="let data of bursaryList; let i= index">
                    <td>{{data.GraduationYear}}</td>
                    <td>{{data.Academy}}</td>
                    <td>
                      <label *ngIf="data.Degree == 1">ปริญญาตรี</label>
                      <label *ngIf="data.Degree == 2">ปริญญาโท</label>
                      <label *ngIf="data.Degree == 3">ปริญญาเอก</label>
                    </td>
                    <td>{{data.Major}}</td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="btn
                          btn-outline-success btn-sm mr-2"
                         (click)="openModal(updatePersonBursary, 'lg')">
                        <i class="fas fa-pencil-alt icon-prop"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn
                          btn-outline-danger btn-sm" (click)="deleteBursary(i)">
                        <i class="fas fa-times icon-prop"></i>
                      </a>
                    </td>
                    <ng-template #updatePersonBursary let-modal>
                      <modal-history-of-education [data]="data"
                                                  (onSubmit)="updateBursary($event)">
                      </modal-history-of-education>
                    </ng-template>
                  </tr>
                  <tr *ngIf="bursaryList.length == 0">
                    <td class="text-center" colspan="6">ไม่พบข้อมูล</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="container mb-4">
          <div class="row mb-2">
            <h2 class="col-md-6">ประวัติการทำงาน</h2>
            <div class="col-md-6 text-right" (click)="openModal(insertWorking,
              'md')">
              <button class="btn btn-success">
                <i class="fas fa-plus mr-1"></i>เพิ่มประวัติการทำงาน
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered" cellspacing="0" role="grid">
                <thead class="bg-custom-green text-white">
                <tr role="row">
                  <th class="text-center"> ระยะเวลา</th>
                  <th class="text-center"> ชื่อองค์กร</th>
                  <th class="text-center"> ตำแหน่ง</th>
                  <th class="text-center"> เครื่องมือ</th>
                </tr>
                </thead>
                <tbody class="bg-white">
                <tr *ngFor="let data of workingList; let i= index">
                  <td>{{data.StartMonth | date: 'dd/MM/yyyy'}} ถึง
                    {{data.EndMonth | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>{{findCorperation(data.CorporationId)}}</td>
                  <td>{{data.Position}}</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="btn
                        btn-outline-success btn-sm mr-2"
                       (click)="openModal(updatePersonWorking, 'md')">
                      <i class="fas fa-pencil-alt icon-prop"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-outline-danger
                        btn-sm" (click)="deleteWorking(i)">
                      <i class="fas fa-times icon-prop"></i>
                    </a>
                  </td>
                  <ng-template #updatePersonWorking let-modal>
                    <modal-career-history [data]="data"
                                          (onSubmit)="updateWorking($event)">
                    </modal-career-history>
                  </ng-template>
                </tr>
                <tr *ngIf="workingList.length == 0">
                  <td class="text-center" colspan="5">ไม่พบข้อมูล</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="form-group text-right">
          <button type="button" class="btn btn-success mr-2" (click)="submitPerson()">บันทึก</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
