<div class="modal-header bg-custom-grey">
  <h5 class="modal-title">เพิ่มประวัติการทำงาน</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="text-default"> <i class="fa fa-times"></i> </span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="careerForm">
    <div class="row">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 alert alert-danger" role="alert" *ngIf="alertValid">
            กรุณากรอกข้อมูลให้ครบถ้วน
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>
              ระยะเวลาตั้งแต่<span class="important">*</span>:
            </label>
            <my-date-picker-th [options]="myDatePickerOptions" formControlName="StartDate">
            </my-date-picker-th>
            <!-- <div class="input-group">
              <input class="form-control" placeholder="ปี เดือน วัน" name="dp1" ngbDatepicker
                #d1="ngbDatepicker" formControlName="StartDate" readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                  <i class="fa fa-clock"></i>
                </button>
              </div>
            </div> -->
          </div>
          <div class="col-md-12">
            <label>
              จนถึง<span class="important">*</span>:
            </label>
            <my-date-picker-th [options]="myDatePickerOptions" formControlName="StartDate">
            </my-date-picker-th>
            <!-- <div class="input-group">
              <input class="form-control" placeholder="ปี เดือน วัน" name="dp1" ngbDatepicker
                #d2="ngbDatepicker" formControlName="EndDate" readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                  <i class="fa fa-clock"></i>
                </button>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>
              ชื่อองค์กร<span class="important">*</span>:
            </label>
            <div class="input-group input-group-sm mb-3">
              <select class="form-control" formControlName="CorporationName">
                <option value="">--เลือกองค์กร--</option>
                <option *ngFor="let data of corporationList" [value]="data.CorporationName">
                  {{data.CorporationName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>
              ตำแหน่ง:
            </label>
            <div class="input-group input-group-sm mb-3">
              <input class="form-control" formControlName="Position">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success btn-round" (click)="submit()">บันทึก</button>
  <button type="button" class="btn btn-outline-secondary btn-round" (click)="closeModal()">ยกเลิก</button>
</div>
